@keyframes scrollLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

#atualizacoes ul {
    white-space: nowrap;
    overflow: hidden;

}

.estatistica {
    width: calc(33.33% - 20px);
    margin-right: 20px; 
    float: left; 
    margin-bottom: 20px; 
}
